/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.ngb-highlight {
  background: yellow;
}

.hidden {
  display: none;
}

h1 {
  margin-bottom: 20px;
}
